[alias]
co = checkout
st = status
br = branch
[diff]
[color]
	ui = auto
[user]
	email = github@erosson.org
	name = Evan Rosson
[credential]
	# TODO: this is insecure, shame on me. set up ssh keys instead.
	helper = store
