[alias]
co = checkout
st = status
# Create a new git repo in dropbox, as the origin of the current repo
dropbox-init = "!f(){ if [ \"$#\" -ne \"1\" ]; then echo 'usage: git dropbox-init NAME'; exit 1; fi; dir=\"$HOME/Dropbox/git/$1\"; git init --bare \"$dir\"; git remote add origin \"$dir\"; git push origin --all; }; f"
# List dropbox repos, most recent last/closest to the bottom
dropbox-ls = "!f(){ ls -lrt \"$HOME/Dropbox/git/$1\"; }; f"
dropbox-clone = "!f(){ ls \"$HOME/Dropbox/git/$1\"; git clone \"$HOME/Dropbox/git/$1\"; }; f"
# Clone with submodules
clonesub = "!f(){ git clone \"$@\"; cd `basename \"$1\"`; git submodule init; git submodule update; }; f"
[user]
name = Evan
email = evan@scruffy
[diff]
[color]
	ui = auto
[github]
	user = erosson
	token = 49306d14da0cfaa46c5e425950f16404
